{{ define "main" }}
<div class="archive">
  <h1>{{ .Title }}</h1>
  
  <p class="archive-count">Wszystkich wpisów: <strong>{{ len .Site.RegularPages }}</strong></p>

  {{ range .Site.RegularPages.ByDate.Reverse }}
  <article class="archive-entry">
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 stycznia 2006" }}</time>
    {{ if .Description }}
      <p>{{ .Description }}</p>
    {{ end }}
  </article>
  {{ end }}
</div>
{{ end }}
