{{ define "main" }}
<div class="container" style="padding-top: 120px;">
  <h1>{{ .Title }}</h1>
  {{ $posts := where .Site.RegularPages.ByDate.Reverse "Section" "posts" }}
  <p>Wszystkich wpisów: {{ len $posts }}</p>
  <ul style="list-style:none; padding:0;">
    {{ range $posts }}
    <li style="margin-bottom: 0.8rem;">
      <span style="color: #999; font-size: 0.8rem; margin-right: 1rem;">{{ .Date.Format "2006-01-02" }}</span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
