{{ define "main" }}

<div class="page-wrapper">
  <div class="container">
    <div class="single-header reveal">
      <div class="single-meta">
        <span>{{ if .Params.categories }}{{ index .Params.categories 0 }}{{ else }}Post{{ end }}</span>
        &nbsp;&mdash;&nbsp;
        <span>{{ .Date.Format "02 January 2006" }}</span>
      </div>
      <h1 class="single-title">{{ .Title | markdownify }}</h1>
    </div>

    <div class="single-content reveal reveal-delay-1">
      {{ .Content }}
    </div>

    <!-- Disqus Comments -->
    <div class="comments-section" style="margin-top: 5rem; border-top: 1px solid var(--grey-200); padding-top: 3rem;">
      {{ template "_internal/disqus.html" . }}
    </div>
  </div>
</div>

{{ end }}
